
body{
  background-color:khaki;
}
.login{
  width: 30%;
  margin: auto;
  margin-top: 5em;
}
.fpass{
  float: right;
  margin-bottom: 1em;
}
.SignUp{
  width: 30%;
  margin: auto;
  margin-top: 2em;
}
.currency{
width: 30%;
margin: auto;
margin-top: 4em;
}
.concept{
  color:blueviolet;
  margin:2em 0;
}
.google{
  margin-bottom: 1em;
  font-weight: bolder;
  color:blueviolet;
}
.frm{
  width: 380px;
  border:none;
  border-radius:5%;
  padding: 0.5em 0;
}
